.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 42, 42);
}

.calculator{
  width: 280px;
  height: 400px;
  background-color: white;
  border-radius: 9px;
}

input{
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 6px;
  margin:2px;
  cursor: pointer;
  color: white;
  background-color: rgb(139, 10, 139);
  font-size: 18px;
  font-weight: 500;
}

.display{
  display: flex;
  margin: 3px 16px;
}

.display > input{
    flex: 1;
    text-align: right;
    font-size: 40px;
    background: transparent;
    color: black;
    font-weight: 600;
    cursor:text ;
}
